:root {
  --green: #3cb4ab;
  --light-green: #80c6c3;
  --dark: #0b0b0b;
  --grey: #848484;
  --grey-btn-color: #efecec;
  --icon-bg: #2f2f2f;
  --bg-content: #fafafa;
  --card-bg: #ffffff;
  --light-btn: #d0eae6;
  --btn: #cbcbcb;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  background-color: var(--bg-content);
  .content {
    position: relative;
    top: -5em;
    .riser {
      background-color: var(--card-bg);
      border-radius: 0.4em;
      padding: 0 2em 3em 2em;
      margin-bottom: 2em;
      box-shadow: 0px 1px 5px 0px #e4e4e4;
      .logo {
        display: flex;
        justify-content: center;
        position: relative;
        top: -2em;
      }
      h2 {
        text-align: center;
        padding-bottom: 0.3em;
      }
      .bamboo-span {
        display: block;
        text-align: center;
        color: var(--grey);
        padding-bottom: 2em;
        font-size: 0.8em;
      }
      .btns {
        display: flex;
        justify-content: space-between;
        .project-btn {
          background-color: var(--green);
          color: var(--card-bg);
          padding: 1em 4em;
          border: hidden;
          border-radius: 3.125em;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          &:hover {
            background-color: #157a74;
            transition: all 0.3s ease-in;
          }
        }
        
        .bookmark-btn {
          background-color: var(--grey-btn-color);
          color: #8a8a8a;
          border: hidden;
          border-radius: 3.125em;
          padding-right: 4em;
          transition: all 0.25s ease-in-out;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          &:hover {
            background-color: #f4f4f4;
            transition: all 0.3s;
          }
          
          img {
            position: relative;
            top: 0.0875em;
            svg {
              
            }
          }
          .btn-label {
            display: inline-block;
            position: relative;
            top: -1.5em;
            left: 1em;
          }
        }
        .bookmarked {
          color: #165f59;
          background-color: #f4f8f9;
          font-weight: 700;
          span {
            display: inline-block;
            position: relative;
            top: -1.5em;
            left: 1em;
          }

        }
      }
    }
    .backers {
      background-color: var(--card-bg);
      box-shadow: 0px 1px 5px 0px #e4e4e4;
      padding: 2em;
      border-radius: 0.4em;
      margin-bottom: 2em;
      .backers-figures {
        display: flex;
        justify-content: space-between;
        width: 25vw;
        p {
          &:first-of-type {
            font-size: 1.4em;
            color: var(--dark);
            font-weight: 700;
            line-height: 1;
            border-right: 1px solid var(--grey-btn-color);
            padding-right: 2em;
            small {
              color: var(--grey);
              font-weight: 500;
              font-size: 0.6em;
            }
          }

          &:not(:first-child):not(:last-child) {
            font-size: 1.4em;
            color: var(--dark);
            font-weight: 700;
            line-height: 1;
            border-right: 1px solid var(--grey-btn-color);
            padding-right: 2em;
            small {
              color: var(--grey);
              font-weight: 500;
              font-size: 0.6em;
            }
          }

          &:last-of-type {
            font-size: 1.4em;
            color: var(--dark);
            font-weight: 700;
            line-height: 1;
            small {
              color: var(--grey);
              font-weight: 500;
              font-size: 0.6em;
            }
          }
        }
      }
      .progress {
        margin-top: 2em;
        .el-progress {
          .el-progress-bar {
            .el-progress-bar__outer {
              .el-progress-bar__inner {
                background-color: var(--green);
              }
            }
          }
        }
      }
    }
    .about {
      background-color: var(--card-bg);
      box-shadow: 0px 1px 5px 0px #e4e4e4;
      padding: 2em;
      h2 {
        font-size: 1em;
      }
      p {
        color: var(--grey);
        font-size: 0.8em;
        line-height: 1.7;
        margin-top: 2em;
      }
      .stand {
        .bamboo {
          border: 1px solid #f4f4f4;
          margin-top: 2em;
          padding: 1em;
          border-radius: 0.4em;
          .pledge {
            display: flex;
            justify-content: space-between;
            h3 {
              font-size: 1em;
            }
            span {
              color: var(--light-green);
              font-size: 0.8em;
            }
          }
          .remnant {
            display: flex;
            justify-content: space-between;
            padding-top: 1em;
            button {
              background-color: var(--green);
              color: var(--card-bg);
              padding: 1em 3em;
              border: hidden;
              border-radius: 3.125em;
              cursor: pointer;
              &:focus {
                outline: none;
              }
              &:hover {
                background-color: #157a74;
                transition: all 0.3s ease-in;
              }
            }
            span {
              color: var(--dark);
              font-weight: 700;
              font-size: 1.4em;
              padding-top: 0.35em;
              small {
                font-size: 0.5em;
                color: var(--grey);
                vertical-align: middle;
              }
            }
          }
        }
        .black-edition {
          border: 1px solid #f4f4f4;
          margin-top: 2em;
          padding: 1em;
          border-radius: 0.4em;
          .edition {
            display: flex;
            justify-content: space-between;
            h3 {
              font-size: 1em;
            }
            span {
              color: var(--light-green);
              font-size: 0.8em;
            }
          }
          .reward {
            display: flex;
            justify-content: space-between;
            padding-top: 1em;
            button {
              background-color: var(--green);
              color: var(--card-bg);
              padding: 1em 3em;
              border: hidden;
              border-radius: 3.125em;
              cursor: pointer;
              &:focus {
                outline: none;
              }
              &:hover {
                background-color: #157a74;
                transition: all 0.3s ease-in;
              }
            }
            span {
              color: var(--dark);
              font-weight: 700;
              font-size: 1.4em;
              padding-top: 0.35em;
              small {
                font-size: 0.5em;
                color: var(--grey);
                vertical-align: middle;
              }
            }
          }
        }
        .special-edition {
          border: 1px solid #f4f4f4;
          margin-top: 2em;
          padding: 1em;
          border-radius: 0.4em;
          .mahogany {
            display: flex;
            justify-content: space-between;
            h3 {
              font-size: 1em;
            }
            span {
              color: var(--light-green);
              font-size: 0.8em;
            }
          }
          .stock {
            display: flex;
            justify-content: space-between;
            padding-top: 1em;
            button {
              background-color: var(--btn);
              color: var(--card-bg);
              padding: 1em 3em;
              border: hidden;
              border-radius: 3.125em;
              cursor: pointer;
              &:focus {
                outline: none;
              }
              &:hover {
                background-color: #cbcbcb;
                transition: all 0.3s ease-in;
              }
            }
            span {
              color: var(--btn);
              font-weight: 700;
              font-size: 1.4em;
              padding-top: 0.35em;
              small {
                font-size: 0.5em;
                color: var(--grey);
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width:320px) and (max-width:480px){
    
 }
}
